
@media only screen and (max-width: 1100px) {
    .img1{
        width: 55%;
    }
    .about{
        width: 44%;
        h3{
            font-size:48px;
        }
    }
    .about2{
        width: 44%;
       margin: auto;
        h3{
            font-size:48px;
        }
    }

    .about3{
        width: 30%;
    }
    .about4{
        width: 44%;
        margin: auto;
        h3{
            font-size:48px;
        }
    }
    .background-colors{
        margin: auto;
    }
    .big-img{
        width: 68%;
    }
    .informations{
        width: 32%;
    }
    .mini-about {
        width: 50%;
        padding: 60px;
    }
    .workshops{
        width: 40%;
        height: 500px;
        left: 3%;
        bottom: 10%;
    }
    .program{
        width: 46%;
        bottom: 30px;
        right: 20px;
    }
}
@media only screen and (max-width: 950px) {
    .img1{
        width: 66%;
    }
    .about{
        width: 34%;
    }
    .about2{
        width: 31%;
    }
    .about3{
        width: 22%;
    }
    .about4{
        width: 47%;
    }
    .big-img {
        width: 63%;
        margin:auto;
    }
    .informations{
        width: 63%;
        margin: auto;
    }
    .mini-about {
        width: 80%;
    }
    .background-colors {
        width: 60%;
        display: flex;
        margin: auto;
         .box {
            width: 450px;
             height: 445px;
        }
        .img3{
            height: 490px;
        }
        .img4{
            height: 585px;
        }
    }
    .container-md {
        padding: 10px;
    }
    .banner {
        gap: 60px;
    }
    .program {
        width: 47%;
        margin-top: 130px;
        h3{
            font-size: 25px;
        }
    }
    .workshops{
        width: 52%;
        bottom: 21%;
        height: max-content;
    }
    .sec-4 {
        img{
            top: 0;
        }
    }
    .mission{
        width: 49%;
    }
    .sec-7 {
        img{
            width: 49%;
        }
    }
}

@media only screen and (max-width: 700px) {
    .img1 {
        width: 78%;
    }

    .about {
        width: 78%;
    }

    .big-img {
        width: 100%;
    }

    .about2 {
        width: 71%;
    }

    .about3 {
        width: 65%;
    }

    .big-img {
        width: 70%;
        height: auto;
    }

    .informations {
        width: 69%;
    }

    .info {
        height: 300px;
    }

    .mini-about {
        width: 100%;
    }

    .background-colors {
        .box{
            width: 300px;
        }
        .img4 {
            height: 500px;
        }
    }
    .workshops{
        width: 70%;
        position: static;
    }
    .banner {
        gap: 0;
    }
    .program{
        width: 70%;
        bottom: 0;
        margin: 10px;
    }
    .about4 {
        width: 82%;
    }
    .about3{
        width: 82%;
    }
    .mission {
        width: 92%;
        margin: auto;
    }
    .sec-7{
        p{
            font-size: 18px;
        }
        img {
            width: 76%;
            margin: auto;
            object-fit: cover;
        }
    }
}